<!DOCTYPE html>
<html lang="en">
<head>
    <script>
        const pageTitle = "<%- pageTitle %>";
    </script>
    <%- include('../partial/header', pageTitle); %>  
</head>
<body>
    <h1><%- pageTitle %></h1>
    <% if (typeof users !== 'undefined') { %>
       <script>
           const usersData = <%- users %>;
       </script>
    <% } %>
    <% if (typeof partners !== 'undefined') { %>
        <script>
            const partnersData = <%- partners %>;
        </script>
     <% } %>
</body>
</html>